.clear-both {
    clear: both;
}

.mt-40 {
    margin-top: 40px;
}
.text-success{
    color: green;
}
.pt-10 {
    padding-top: 10px;
}

.fs-15 {
    font-size: 15px;
}

.text-gray {
    color: #948585;
}

.mt-2 {
    margin-top: 2px;
}

.mt-5 {
    margin-top: 5px;
}

[class*="fa-assessor"]:before {
    content: "\f0ea"
}

[class*="fa-clerk"]:before {
    content: "\f044"
}

[class*="fa-recorder-of-deeds"]:before {
    content: "\f14b"
}

[class*="fa-treasurer-tax-collector"]:before {
    content: "\f080"
}

section {
    padding: 60px 0 60px;
}

@media screen and (max-width: 768px) {
    .container.columns.sections-9 {
        margin-top: 0;
    }
}

@media screen and (max-width: 568px) {
    section {
        padding: 30px 0 30px 0;
    }
}
.pt-home h1, .pt-home h2, .pt-home h3, .pt-home h4, .pt-home p, .pt-home a, .pt-home section {
    font-family: 'Roboto', sans-serif;
}
.pt-home h1, .pt-home h2, .pt-home h3, .pt-home h4 {
    text-transform: uppercase;
}
.pt-home h1 {
    font-size: 23px;
    margin-bottom: 10px;
}
.pt-home h1 + p {
    font-size: 16px;
    margin-bottom: 20px;
}
.pt-home h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    text-transform: inherit;
}
.pt-home h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.pt-home h4 + p {
    font-size: 14px;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    .pt-home h1 {
        font-size: 22px;
    }
    .pt-home h1 + p {
        font-size: 16px;
    }
}
.ps-hero-1 p {
    color: #ffffff;
}

.ps-hero-1 > img {
    position: relative;
    width: 100%;
    max-width: 100%;
    height:auto;
}

.ps-hero-1 .home-lead-search {
    width: 780px;
    margin: 0 auto;
    /* padding: 10px 25px; */
    /* background: rgb(38 157 222); */
    /* box-sizing: border-box; */
}

.ps-hero-1 .home-lead-search > .input-container {
    float: left;
    width: 100%;
}

.ps-hero-1 .home-lead-search input {
    border: 1px solid #32c3ff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
    color: #52585e;
    float: left;
    font-size: 16px;
    font-weight: 300;
    height: 52px;
    line-height: 52px;
    margin: 0;
    outline: 0 none;
    padding: 0 15px;
    width: 630px;
}

.ps-hero-1 .home-lead-search button {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 0;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 52px;
    letter-spacing: 1px;
    width: 100px;
    outline: none;
}

@media screen and (max-width: 968px){
    .ps-hero-1 .home-lead-search {
        width: 100%;
    }
    .ps-hero-1 .home-lead-search input {
        width: 85%;
    }
    .ps-hero-1 .home-lead-search button {
        width: 15%;
    }
}

@media screen and (max-width: 768px){
    .ps-hero-1 {
        padding: 5px 0 5px !important;
    }
    .ps-hero-1.hero-image-bg {
        background-position: initial;
        background-size: initial;
    }
}

@media screen and (max-width: 568px){
    .ps-hero-1 .home-lead-search input {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .ps-hero-1 .home-lead-search button {
        width: 100%;
        border-radius: 5px;
    }
}
.ps-hero-1 {
    color: #ffffff;
    text-align: center;
    padding: 78px 0 25px;
    background-color:#ffffff;
}

.ps-hero-1.hero-image-bg {
    background: #019ade;
}
.home-bullets-1 h3 {
    color: #2aa7b1;
    font-size: 24px;
    margin-bottom: 35px;
}

.home-bullets-1 .list-group-items {
    padding-left: 0;
    border: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.home-bullets-1 .list-group-items > .list-group-item {
    font-size: 16px;
    font-weight: 300;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 33%;
    padding: 15px;
    border: 3px solid white;
}

.home-bullets-1 .list-group-items > .list-group-item span {
    font-size: 22px;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .home-bullets-1 .list-group-items > .list-group-item {
        width: 100%;
    }
}
.home-states-3 {
    background-color: #ffffff;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.home-states-3 h3 {
    color: #168aca;
    font-size: 24px;
    margin-bottom: 35px;
}

.home-states-3 .list-group-items {
    text-align: left;
    border: none;
    box-sizing: border-box;
}

.home-states-3 .list-group-items > .list-group-item:before {
    /* content: "\f054"; */ /* FontAwesome Unicode */
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 11px;
    color: #555555;
    margin-left: -10px; /* same as padding-left set on li */
    width: 10px; /* same as padding-left set on li */
}

.home-states-3 .list-group-items > .list-group-item {
    color: #666666;
    font-size: 15px;
    font-weight: 300;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20%;
    padding: 8px;
    background: none;
    border: none;
    margin: 0;
}

.home-states-3 .list-group-items > .list-group-item:hover {
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 568px){
    .home-states-3 .list-group-items {
        padding-left: 30px;
    }

    .home-states-3 .list-group-items > .list-group-item {
        width: 50%;
    }
}
.navbar-logo a {
    color: #32c3ff;
    font-size: 20px;
    font-weight: bold;
}
.navbar-logo a:hover {
    color: #2cb2f1;
}
.navbar-nav li a:hover, footer .logo a:hover span, footer.footer a:hover {
    color: #ecd9d9;
}

footer.footer a {
    margin-right: 10px;
}
.home-states-3 .country-item {
    text-decoration: none;
}
.border-radius-none{
    border-radius: 0px;
}
.pl-30{
    padding-left: 30px;
}
.mt-15{
    margin-top: 15px;
}
.mt-25{
    margin-top: 25px;
}
.mb-15{
    margin-bottom: 15px;
}
.mr-15{
    margin-right: 15px;
}
.site-item {
    overflow: hidden;
    border: 1px solid #f5e7e7;
    margin-bottom: 10px;
    padding: 2px 10px 7px 10px;
    background: #fff;
}
.ml-10{
    margin-left: 10px;
}
.w-100{
    width: 100%;
}
#navbar-search li a {
    color: #0c83c3;
    font-weight: bold;
}

#navbar-search li a:hover {
    background: #eaf0f1;
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
@media (max-width: 978px){
    .frmSearch{
        margin-bottom: 10px;
    }
}
.n-search input {
    outline: none;
}

.n-search input:hover {
    outline: none;
}
.frmSearch {
    margin-top: -3px;
}
.text-white{
    color: #fff;
}
#right-sidebar .panel-content {
    padding: 10px;
}

#right-sidebar .panel-content li {
    line-height: 30px;
}

#right-sidebar .panel-content li a {
    text-decoration: none;
}
.sales-info label {
    font-weight: bold;
    font-size: 23px;
    color: #337ab7;
    line-height: 19px;
}
.sales-info span {
    font-size: 14px;
}
div#right-sidebar .widget {
    background: #fff;
}
.filter_search .panel {
    background: #fff;
}
.text-primary {
    color: #007bff!important;
}
.text-info {
    color: #006375!important;
}
.font-weight-bold{
    font-weight: bold;
}
.text-decoration-none{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    opacity: 0.9;
}
.btn-get-coupon{
    font-weight: bold;
}
.sales-info {
    padding-left: 45px;
    padding-top: 20px;
}
.sales-info span.off {
    font-weight: bold;
    color: red;
}

@media (max-width: 978px) {
    .sales-info {
        padding-left: 0px;
        padding-top: 0px;
    }
}
.site-item .btn-close {
    top: 10px;
    position: absolute;
    right: 14px;
    color: #28a2b8;
    cursor: pointer;
}

.site-item .btn-close:hover {
    color: #08466b;
}
.pl-0{
    padding-left: 0px;
}
.site-info {
    background: #fff;
}

.site-info p {
    margin: 0;
}
.site-info p.desc {
    color: #6b5353;
    font-size: 15px;
    margin-bottom: 7px;
}
.site-info {
    padding: 15px;
}
p.voucher-info span {
    color: #1a7bff;
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
}
ul.list-cates li {
    font-size: 15px;
    line-height: 33px;
}

ul.list-cates li a {
    color: #156379;
}
p.share-social a {
    color: #217bff;
    margin-right: 3px;
    font-size: 18px;
    border: 1px solid #d0c1c1;
    padding: 3px 6px;
    background: #fff;
    width: 30px;
    height: 30px;
}

p.share-social a:hover {
    color: blue;
}
.pl-0{
    padding-left: 0px;
}
.bg-white{
    background: #fff;
}
.mb-0{
    margin-bottom: 0px;
}
section.states-top-keywords {
    background: whitesmoke;
}
#right-sidebar h2 {
    background: #2aaaf0;
    color: #fff !important;
}
.clear-both {
    clear: both;
}

.mt-40 {
    margin-top: 40px;
}
.text-success{
    color: green;
}
.pt-10 {
    padding-top: 10px;
}

.fs-15 {
    font-size: 15px;
}

.text-gray {
    color: #948585;
}

.mt-2 {
    margin-top: 2px;
}

.mt-5 {
    margin-top: 5px;
}

[class*="fa-assessor"]:before {
    content: "\f0ea"
}

[class*="fa-clerk"]:before {
    content: "\f044"
}

[class*="fa-recorder-of-deeds"]:before {
    content: "\f14b"
}

[class*="fa-treasurer-tax-collector"]:before {
    content: "\f080"
}

section {
    padding: 60px 0 60px;
}

@media screen and (max-width: 768px) {
    .container.columns.sections-9 {
        margin-top: 0;
    }
}

@media screen and (max-width: 568px) {
    section {
        padding: 30px 0 30px 0;
    }
}
.pt-home h1, .pt-home h2, .pt-home h3, .pt-home h4, .pt-home p, .pt-home a, .pt-home section {
    font-family: 'Roboto', sans-serif;
}
.pt-home h1, .pt-home h2, .pt-home h3, .pt-home h4 {
    text-transform: uppercase;
}
.pt-home h1 {
    font-size: 23px;
    margin-bottom: 10px;
}
.pt-home h1 + p {
    font-size: 16px;
    margin-bottom: 20px;
}
.pt-home h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    text-transform: inherit;
}
.pt-home h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.pt-home h4 + p {
    font-size: 14px;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    .pt-home h1 {
        font-size: 22px;
    }
    .pt-home h1 + p {
        font-size: 16px;
    }
}
.ps-hero-1 p {
    color: #ffffff;
}

.ps-hero-1 > img {
    position: relative;
    width: 100%;
    max-width: 100%;
    height:auto;
}

.ps-hero-1 .home-lead-search {
    width: 780px;
    margin: 0 auto;
    /* padding: 10px 25px; */
    /* background: rgb(38 157 222); */
    /* box-sizing: border-box; */
}

.ps-hero-1 .home-lead-search > .input-container {
    float: left;
    width: 100%;
}

.ps-hero-1 .home-lead-search input {
    border: 1px solid #32c3ff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
    color: #52585e;
    float: left;
    font-size: 16px;
    font-weight: 300;
    height: 52px;
    line-height: 52px;
    margin: 0;
    outline: 0 none;
    padding: 0 15px;
    width: 630px;
}

.ps-hero-1 .home-lead-search button {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 0;
    float: left;
    font-size: 15px;
    font-weight: 700;
    height: 52px;
    letter-spacing: 1px;
    width: 100px;
    outline: none;
}

@media screen and (max-width: 968px){
    .ps-hero-1 .home-lead-search {
        width: 100%;
    }
    .ps-hero-1 .home-lead-search input {
        width: 85%;
    }
    .ps-hero-1 .home-lead-search button {
        width: 15%;
    }
}

@media screen and (max-width: 768px){
    .ps-hero-1 {
        padding: 5px 0 5px !important;
    }
    .ps-hero-1.hero-image-bg {
        background-position: initial;
        background-size: initial;
    }
}

@media screen and (max-width: 568px){
    .ps-hero-1 .home-lead-search input {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .ps-hero-1 .home-lead-search button {
        width: 100%;
        border-radius: 5px;
    }
}
.ps-hero-1 {
    color: #ffffff;
    text-align: center;
    padding: 78px 0 25px;
    background-color:#ffffff;
}

.ps-hero-1.hero-image-bg {
    background: #019ade;
}
.home-bullets-1 h3 {
    color: #2aa7b1;
    font-size: 24px;
    margin-bottom: 35px;
}

.home-bullets-1 .list-group-items {
    padding-left: 0;
    border: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.home-bullets-1 .list-group-items > .list-group-item {
    font-size: 16px;
    font-weight: 300;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 33%;
    padding: 15px;
    border: 3px solid white;
}

.home-bullets-1 .list-group-items > .list-group-item span {
    font-size: 22px;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .home-bullets-1 .list-group-items > .list-group-item {
        width: 100%;
    }
}
.home-states-3 {
    background-color: #ffffff;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.home-states-3 h3 {
    color: #168aca;
    font-size: 24px;
    margin-bottom: 35px;
}

.home-states-3 .list-group-items {
    text-align: left;
    border: none;
    box-sizing: border-box;
}

.home-states-3 .list-group-items > .list-group-item:before {
    /* content: "\f054"; */ /* FontAwesome Unicode */
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 11px;
    color: #555555;
    margin-left: -10px; /* same as padding-left set on li */
    width: 10px; /* same as padding-left set on li */
}

.home-states-3 .list-group-items > .list-group-item {
    color: #666666;
    font-size: 15px;
    font-weight: 300;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20%;
    padding: 8px;
    background: none;
    border: none;
    margin: 0;
}

.home-states-3 .list-group-items > .list-group-item:hover {
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 568px){
    .home-states-3 .list-group-items {
        padding-left: 30px;
    }

    .home-states-3 .list-group-items > .list-group-item {
        width: 50%;
    }
}
.navbar-logo a {
    color: #32c3ff;
    font-size: 20px;
    font-weight: bold;
}
.navbar-logo a:hover {
    color: #2cb2f1;
}
.navbar-nav li a:hover, footer .logo a:hover span, footer.footer a:hover {
    color: #ecd9d9;
}

footer.footer a {
    margin-right: 10px;
}
.home-states-3 .country-item {
    text-decoration: none;
}
.border-radius-none{
    border-radius: 0px;
}
.pl-30{
    padding-left: 30px;
}
.mt-15{
    margin-top: 15px;
}
.mt-25{
    margin-top: 25px;
}
.mb-15{
    margin-bottom: 15px;
}
.mr-15{
    margin-right: 15px;
}
.site-item {
    overflow: hidden;
    border: 1px solid #f5e7e7;
    margin-bottom: 10px;
    padding: 2px 10px 7px 10px;
    background: #fff;
}
.ml-10{
    margin-left: 10px;
}
.w-100{
    width: 100%;
}
#navbar-search li a {
    color: #0c83c3;
    font-weight: bold;
}

#navbar-search li a:hover {
    background: #eaf0f1;
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
@media (max-width: 978px){
    .frmSearch{
        margin-bottom: 10px;
    }
}
.n-search input {
    outline: none;
}

.n-search input:hover {
    outline: none;
}
.frmSearch {
    margin-top: -3px;
}
.text-white{
    color: #fff;
}
#right-sidebar .panel-content {
    padding: 10px;
}

#right-sidebar .panel-content li {
    line-height: 30px;
}

#right-sidebar .panel-content li a {
    text-decoration: none;
}
.sales-info label {
    font-weight: bold;
    font-size: 23px;
    color: #337ab7;
    line-height: 19px;
}
.sales-info span {
    font-size: 14px;
}
div#right-sidebar .widget {
    background: #fff;
}
.filter_search .panel {
    background: #fff;
}
.text-primary {
    color: #007bff!important;
}
.text-info {
    color: #006375!important;
}
.font-weight-bold{
    font-weight: bold;
}
.text-decoration-none{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    opacity: 0.9;
}
.btn-get-coupon{
    font-weight: bold;
}
.sales-info {
    padding-left: 45px;
    padding-top: 20px;
}
.sales-info span.off {
    font-weight: bold;
    color: red;
}

@media (max-width: 978px) {
    .sales-info {
        padding-left: 0px;
        padding-top: 0px;
    }
}
.site-item .btn-close {
    top: 10px;
    position: absolute;
    right: 14px;
    color: #28a2b8;
    cursor: pointer;
}

.site-item .btn-close:hover {
    color: #08466b;
}
.pl-0{
    padding-left: 0px;
}
.site-info {
    background: #fff;
}

.site-info p {
    margin: 0;
}
.site-info p.desc {
    color: #6b5353;
    font-size: 15px;
    margin-bottom: 7px;
}
.site-info {
    padding: 15px;
}
p.voucher-info span {
    color: #1a7bff;
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
}
ul.list-cates li {
    font-size: 15px;
    line-height: 33px;
}

ul.list-cates li a {
    color: #156379;
}
p.share-social a {
    color: #217bff;
    margin-right: 3px;
    font-size: 18px;
    border: 1px solid #d0c1c1;
    padding: 3px 6px;
    background: #fff;
    width: 30px;
    height: 30px;
}

p.share-social a:hover {
    color: blue;
}
.pl-0{
    padding-left: 0px;
}
.bg-white{
    background: #fff;
}
.mb-0{
    margin-bottom: 0px;
}
section.states-top-keywords {
    background: whitesmoke;
}
#right-sidebar h2 {
    background: #3db509;
    color: #fff !important;
}
